<h1> Add Listings </h1>

<form action='/addlistings' method='post'>
  <input type='text' name='name' placeholder='name'/>
  <input type='text' name='description' placeholder='description'/>
  <input type='text' name='price' placeholder='price'/>
  <input type='date' name='start_date' placeholder='start date'/>
  <input type='date' name='end_date' placeholder='end date'/>
  <input type='submit' value='Submit'/>
</form>
<br>
<form action="/viewlistings" method="GET">
  <input type="submit"  value="Click here to view listings">
</form>
