<h1> Add Listings </h1>

<form action='/addlistings' method='post'>
  <input type='text' name='name' placeholder='name'/>
  <input type='text' name='description' placeholder='description'/>
  <input type='text' name='price' placeholder='price'/>
  <input type='text' name='date' placeholder='date'/>
  <input type='submit' value='Submit'/>
</form>
