<h2> Welcome to Rubynb, you've signed up successfully with email '<%= @email %>'</h2>

<form action="/add" method="GET">
  <input type="submit"  value="Click here to add a listing">
</form>

<br>

<form action='/viewlistings' method="get">
  <input type='submit' value="Click here to view listings">
</form>
