<h1> View Listings </h1>
<ul>
<% @listings.each do |listing| %>
<li> <%=listing.name%> </li>
<% end %>
</ul>
<!-- <h2>Hotel California</h2> -->

<form action="add" method="GET">
  <input type="submit"  value="Click here to add a listing">
</form>
