<html>
<head>
  <link rel="styleSheet" type="text/css" href="<%= url("/styleSheet.css") %>">
</head>
<body>
<h1> View Listings </h1>

<form action="/add" method="GET">
  <input class="btn1" type="submit"  value="Click here to add a listing">
</form>

<% @listings.each do |listing| %>
<div class="media">

  <div class="media-body" style="vertical-align:top;">
    <h4 class="media-heading" padding-left: 50px><%=listing.name%></h4>

    <form action="/listing/<%=listing.id%>" method="GET">
      <input class="btn1" type="submit" id="<%=listing.name%>" value="Click here for info.">
    </form>

</div>
<% end %>

</body>
</html>
