<style>
  .login {
    height: 300px;
    border: solid black 5px;
    max-width:250px;
    margin:0 auto;
   display: -webkit-flex;
   display:         flex;
   -webkit-align-items: center;
           align-items: center;
   -webkit-justify-content: center;
           justify-content: center;
  }

  .password {
    height: 100px;
    border: solid black 5px;
    max-width:250px;
    margin:0 auto;
    color: red;
   display: -webkit-flex;
   display:         flex;
   -webkit-align-items: center;
           align-items: center;
   -webkit-justify-content: center;
           justify-content: center;
  }

  h1{
    text-align: center;
  }
  h3{
    text-align: center;
  }
}
</style>

<h1>Welcome to Rubynb</h1>
<h1>Feel at home, anywhere!</h1>

<h3> Login up to Rubynb </h3>

<div class="login">
  <form action='/login' method='post'>
    Enter Email:<br>
    <input type="text" name="email"/>  <br>
    Password:<br>
     <input type="password" name="password"/><br>
    Click to Login: <br>
    <input type="submit" value="Submit"/>
  </form>
</div>

<% if @password_invalid %>
<div class="password">
  <p>Email or Password not valid</p>
</div>
<% end %>
