Thank you. You have requested <%=@object.name%> for <%=@date%>
<br>
<br>
An email has been sent to the homeowner for approval.

<br>
<br>

<form action="/viewlistings" method="GET">
  <input type="submit"  value="Click here to view listings">
</form>
